<div class="background-image">
    <!-- Aquí puedes agregar otros componentes si es necesario -->
    <app-navbarinicio></app-navbarinicio>
  </div>
  
  <div class="content">
    <!-- Aquí coloca el contenido que quieres que aparezca debajo de la imagen de fondo -->
    <h1>Bienvenido a mi página de inicio</h1>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
    <p>Este es el contenido que aparecerá debajo de la imagen de fondo.</p>
  </div>
  