<a href="home" class="back"><</a>
<form class="login-form">
    <p class="login-text">
      <span>
      <h1>Inicio de Sesion</h1>
      </span>
    </p>
    <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
    <input type="password" class="login-password" required="true" placeholder="Contraseña" />
    <input type="submit" name="Login" value="Iniciar Sesion" class="login-submit" />
  </form>
  <a href="register" class="login-forgot-pass">¿No tienes cuenta? Registrate</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 