<nav [ngClass]="{'navbar': true, 'navbar-expand-lg': true, 'navbar-dark': true, 'bg-transparent': isTransparent, 'white-bg': !isTransparent}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestor de Tareas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <!-- Aquí puedes agregar más elementos de menú si es necesario -->
      </ul>
    </div>
  </div>
</nav>
